h1 {
	background-color:white; 
	color:darkblue; 
	padding:5px;
}
.breadcrumbs{
	color:orange;
	padding:5px
}
.page{
	background-color:teal;
	border:2px solid black;
}
h2 {
	color:black;
	padding:5px;
	text-align:center;
}
p {
	color:orange;
}

.centerPar{
	text-align:center;
}

.imgCenter{
	display:block;
	margin-left:auto;
	margin-right:auto;
]
